richlistitem[type="download"][state="1"][zip="true"] {
  -moz-binding: url('chrome://zipdown/content/download.xml#download-done-zip') !important;
}

richlistitem[type="download"][state="1"] .twisty {
  list-style-image: url("chrome://zipdown/skin/twisty.png");
  -moz-image-region: rect(0px, 12px, 12px, 0);
  margin: -4px -4px 0 0;
  padding: 0 2px 0 0;
  height: 10px;
  width: 10px;
}

richlistbox:focus richlistitem[type="download"][state="1"][selected="true"] .twisty {
  list-style-image: url("chrome://zipdown/skin/twisty-w.png");
}

richlistitem[type="download"][state="1"][expanded="true"] .twisty {
  -moz-image-region: rect(2px, 28px, 14px, 16px);
  margin: -1px 0 0;
}

richlistitem[type="download"][state="1"] .itemCount {
  margin: 0 0.3em;
  font-size: 0.9em;
}

richlistitem[type="download"][state="1"] tree {
  display: none;
}

richlistitem[type="download"][state="1"][expanded="true"] tree {
  display: -moz-box;
  margin: 5px -6px -6px -6px;
  border: 0;
}

richlistitem[type="download"][state="1"][expanded="true"] tree treecols {
  height: 0;
}

richlistitem[type="download"][state="1"][expanded="true"] tree treechildren::-moz-tree-cell-text {
  padding-left: 39px;
}


/* Hack to highlight alternate rows when using hidecolumnpicker=true */

richlistitem[type="download"][state="1"][expanded="true"] tree treechildren::-moz-tree-row(odd) {
  background-color: -moz-oddtreerow;
}

richlistitem[type="download"][state="1"][expanded="true"] tree treechildren::-moz-tree-row(odd, selected) {
  background-color: -moz-mac-secondaryhighlight;
}

richlistitem[type="download"][state="1"][expanded="true"] tree treechildren::-moz-tree-row(odd, selected, focus) {
  background-color: Highlight;
  color: HighlightText;
}